GOVEE2MQTT_EMAIL=
GOVEE2MQTT_PASSWORD=
GOVEE2MQTT_API_KEY=

GOVEE2MQTT_MQTT_HOST=localhost
GOVEE2MQTT_MQTT_PORT=1883

GOVEE2MQTT_LAN_BROADCAST_ALL=true
GOVEE2MQTT_TEMPERATURE_SCALE=C

RUST_LOG=info
RUST_BACKTRACE=full
